<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <div class="img-fluid justify-content-left"><img src="/img/juslany.png" alt=""></div>
    </a>
    <div class="text-light h4">MINHA URNA ELETRÔNICA</div>
</nav>